.page {
  width: 880px;
  min-height: 100vh;

  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .page {
    width: 581px;
  }
}

@media screen and (max-width: 645px) {
  .page {
    width: 320px;
  }
}
