.form__box {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 0;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  width: 300px;
}

.form__box:last-child {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .form__box {
    padding: 0 20px 8px 0;
  }
}
