@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__photo/elements__photo.css);
@import url(./blocks/elements/__block/elements__block.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__trash/elements__trash.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__box/form__box.css);
@import url(./blocks/form/__box/_error/form__box_error.css);
@import url(./blocks/form/__info/form__info.css);
@import url(./blocks/form/__save/form__save.css);
@import url(./blocks/form/__save/_inactive/form__save_inactive.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_acive/form__error_active.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/main/main.css);
@import url(./blocks/page/page.css);
@import url(./blocks/site/site.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__title-wrapper/profile__title-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar-button.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/_type/popup_type.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/_type/popup_type_place.css);
@import url(./blocks/popup/_type/popup_type_profile.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__picture/popup__picture-container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/form/__save/_inactive/form__save_inactive.css);