.popup__photo {
  max-height: 75vh;
  height: 100%;
  width: 100%;
  max-width: 75vw;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
  background-image: url(../../../images/sky.jpg);
}

